#bloc-page {
  padding-left: 20px;
  padding-right: 20px;
}

/*  Police des textes*/

@font-face {
  font-family: "Raleway";
  src: url("Raleway-Thin.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "RalewayBold";
  src: url("Raleway-Bold.ttf") format("truetype");
  font-weight: normal;
}

body {
  font-family: Raleway;
}

/*HeaderNav*/
header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 10px 20px 10px 20px;
}

.reservia-logo img {
  width: 100px;
  height: 50px;
}

.reservia-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 15px;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
  padding-top: 27px;
}

.inscrire {
  font-weight: bold;
  color: #0065fc;
}

#menu-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.navHebergementActivity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
}

.hebergement {
  color: #0065fc;
}
.activites {
  color: black;
}

/* FIN HeaderNav*/

/*phrase*/

#phrase {
  height: 80px;
}

#phrase h2 {
  font-size: 1em;
}

#phrase p {
  font-size: 0.9em;
}

/*FIN phrase*/

/*RECHERCHE*/
#zoneRecherche {
  display: flex;
  justify-content: flex-start;
  height: 40px;
  width: 100px;
}
#zoneRecherche i {
  border: 1px #f2f2f2 solid;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  background-color: #f2f2f2;
  padding-right: 30px;
  text-align: center;
  padding: 10px;
}
#zoneRecherche input:nth-child(2) {
  border: 1px #f2f2f2 solid;
  font-weight: bold;
}
#zoneRecherche input:nth-child(3) {
  border: 1px #f2f2f2 solid;
  color: white;
  background-color: #0065fc;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  font-weight: bold;
}

/*FIN RECHERCHE*/

/*FILTRE*/

#filtre {
  display: flex;
  text-align: center;
  font-weight: bold;
  align-items: center;
  height: 80px;
  width: 100%;
}

#filtre a {
  text-decoration: none;
  color: black;
}

#filtre a:hover {
  color: #0065fc;
}

#filtre p {
  margin-right: 30px;
}
#filtre .fas {
  background-color: #deebff;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  color: #0065fc;
}
.filtre-icones {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
#filtre .icone {
  border-radius: 50px;
  border: 2px solid #f2f2f2;
  font-weight: bold;
  display: flex;
  align-items: center;
}

/*FIN FILTRE*/

/*info*/

#info {
  height: 80px;
  font-size: 0.8em;
}
.fa-info {
  padding: 10px;
  border-radius: 50%;
  border: 3px solid #f2f2f2;
  color: #0065fc;
}
/*FIN INFO*/
.Titre {
  font-size: 1em;
}

#HebergementPopulaire {
  display: flex;
  flex-wrap: wrap;
}

.starBlue {
  color: #0065fc;
}

.starGrey {
  color: #d9d9d9;
}

/*HEBERGEMENT MARSEILLE*/

#HebergementMarseille {
  background-color: #f2f2f2;
  margin-left: 5px;
  margin-right: 30px;
  padding: 30px;
  padding-right: 0px;
  border-radius: 10px;
  width: 60%;
  height: 580px;
}

#HousingMarseille {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 20px;
  margin-bottom: 20px;
}

.CardHebergement {
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: white;
}

.description {
  font-size: smaller;
  margin-left: 5px;
}

#HousingMarseille .PhotoHebergement {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#HebergementMarseille .NameHebergement {
  font-weight: bolder;
}

#HebergementMarseille a {
  text-decoration: none;
  color: black;
}

#HebergementMarseille .afficher {
  font-weight: bold;
}

#HebergementPopulaire {
  display: flex;
  flex-wrap: wrap;
}

#HousingMarseille .PhotoHebergement {
  width: 240px;
  height: 110px;
}
.description {
  width: 240px;
  height: 90px;
}

.CardHebergement {
  height: 210px;
  width: 240px;
}

#HebergementPopulaire {
  display: flex;
  flex-wrap: wrap;
}
/*************************POPULAIRE********************************/

#popular {
  background-color: #f2f2f2;
  border-radius: 10px;
  height: 580px;
  width: 30%;
  padding: 30px;
}
#popular a {
  text-decoration: none;
  color: black;
}

#titre-populaire {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#titre-populaire i {
  font-size: 1em;
}
#HousingPopulaire {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CardPopular {
  margin-bottom: 50px;
  border-radius: 10px;
  border: 5px solid white;
  background-color: white;
  height: 130px;
  width: 400px;
  display: flex;
  justify-content: flex-start;
}
.PhotoPopular {
  object-fit: cover;
  width: 130px;
  height: 130px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.mapPopular {
  margin-left: 30px;
  font-size: 0.9em;
}

#popular .NameHebergement {
  font-weight: bold;
}

/************************* FIN POPULAR *******************************/

/************************************* DEBUT ACTIVITES********************************************/

#activity {
  width: 100%;
  height: 40%;
  margin-top: 50px;
  padding-bottom: 50px;
}
#activity a {
  text-decoration: none;
  color: black;
}
#activity p {
  font-weight: bold;
}
#activity .PhotoActivity {
  object-fit: cover;
}

.Large {
  width: 290px;
  height: 400px;
  box-shadow: 0 0 1em grey;
}
.PhotoLarge {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 290px;
  height: 350px;
}

.Small {
  width: 220px;
  height: 99%;
  justify-content: space-between;
}
.PhotoSmall {
  width: 220px;
  height: 110px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.photo-pomegue {
  height: 75%;
  width: 100%;
}
.pomegue {
  width: 100%;
  height: 40%;
  border-radius: 10px;
  box-shadow: 0 0 1em grey;
}

.frioul {
  width: 100%;
  height: 40%;
  border-radius: 10px;
  box-shadow: 0 0 1em grey;
}
.photo-frioul {
  width: 100%;
  height: 70%;
}

.LaGarde {
  border-radius: 10px;
  box-shadow: 0 0 1em grey;
}

.Longchamp {
  border-radius: 10px;
  box-shadow: 0 0 1em grey;
}
#CardActivity {
  display: flex;
}

.mapActivity {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.activitePhoto {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

/**************************** FIN ACTIVITES**********************/

/* DEBUT FOOTER */
footer {
  border: 1px solid #f2f2f2;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  background-color: #f2f2f2;
}

footer a {
  text-decoration: none;
  color: black;
  line-height: 1.5;
  padding-left: 20px;
}

footer li {
  list-style: none;
}
h4 {
  font-weight: bold;
  padding-left: 60px;
  padding-bottom: 10px;
}

.apropos {
  padding-right: 200px;
}

.noshebergements {
  padding-right: 250px;
}
/* FIN FOOTER  */

/**************************************TABLETTE****************************************************/

@media all and (min-width: 813px) and (max-width: 1024px) {
}

/***************************************** MOBILE **********************************************/

@media all and (min-width: 375px) and (max-width: 812px) {
  #menu-header {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 100%;
  }

  body {
    width: auto;
    margin: 0px;
    padding: 0px;
  }

  #bloc-page {
    margin: 0px;
    padding: 0px;
  }

  header {
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }

  .reservia-logo {
    margin-top: 20px;
  }

  .reservia-logo img {
    margin-left: 20px;
  }

  nav {
    width: 100%;
  }

  nav ul {
    width: 100%;
    padding: 0px;
  }

  nav li {
    width: 50%;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 10px;
    margin: 0px;
    text-align: center;
  }

  nav span {
    position: absolute;
    top: 40px;
    right: 20px;
  }

  nav a:hover {
    padding-top: 37px;
  }

  nav li a:hover {
    border-top: none;
  }

  nav li:hover {
    border-color: #0065fc;
    color: #0065fc;
  }

  .inscrire {
    order: 2;
  }

  .navHebergementActivity {
    display: flex;
    justify-content: flex-start;
  }

  #phrase h2 {
    font-size: 1.2em;
  }

  #phrase p {
    font-size: 1em;
  }

  #filtre {
    justify-content: space-around;
  }

  #HebergementPopulaire {
    flex-direction: column-reverse;
  }

  #HebergementMarseille {
    height: 1400px;
    background-color: blue;
    width: 100%;
  }

  .CardHebergement {
    height: 210px;
    width: 100%;
  }

  #HousingMarseille .PhotoHebergement {
    width: 100%;
    height: 110px;
  }

  #popular {
    height: 580px;
    background-color: green;
    width: 100%;
  }
}
