.bloc-page {
  padding-left: 20px;
  padding-right: 20px;
}

body {
  font-family: "Raleway", sans-serif;
  max-width: 1400px;
  margin: auto;
}

/*HeaderNav*/
header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 10px 20px 10px 20px;
}

.reservia-logo img {
  width: 100px;
  height: 50px;
}

.reservia-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 60px;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
  padding-top: 27px;
}

.inscrire {
  font-weight: bold;
  color: #0065fc;
}

#menu-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.navHebergementActivity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
}

.hebergement {
  color: #0065fc;
}

.activites {
  color: black;
}

/* FIN HeaderNav*/

/*phrase*/

#phrase {
  height: 80px;
}

#phrase h2 {
  font-size: 1em;
}

#phrase p {
  font-size: 0.9em;
}

/*FIN phrase*/

/*RECHERCHE*/
#zoneRecherche {
  display: flex;
  justify-content: flex-start;
  height: 40px;
  width: 100px;
}
#zoneRecherche i {
  border: 1px #f2f2f2 solid;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  background-color: #f2f2f2;
  padding-right: 30px;
  text-align: center;
  padding: 10px;
}
#zoneRecherche input:nth-child(2) {
  border: 1px #f2f2f2 solid;
  font-weight: bold;
}
#zoneRecherche input:nth-child(3) {
  border: 1px #f2f2f2 solid;
  color: white;
  background-color: #0065fc;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  font-weight: bold;
}

button {
  visibility: hidden;
}

/*FIN RECHERCHE*/

/*FILTRE*/

#filtre {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  margin-top: 10px;
}

#filtre a {
  text-decoration: none;
  color: black;
}

#filtre a:hover {
  color: #0065fc;
}

#filtre p {
  margin-right: 20px;
}

#filtre .fas {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #f2f2f2;
  color: #0065fc;
}

#titre-filtre {
  padding-top: 10px;
  margin-right: 20px;
}
.filtre-icones {
  margin-top: 15px;
}

/*FIN FILTRE*/

/*info*/

#info {
  height: 80px;
  font-size: 0.8em;
}
.fa-info {
  padding: 10px;
  border-radius: 50%;
  border: 3px solid #f2f2f2;
  color: #0065fc;
}
/*FIN INFO*/
.Titre {
  font-size: 1em;
}

.starBlue {
  color: #0065fc;
}

.starGrey {
  color: #d9d9d9;
}

/*HEBERGEMENT MARSEILLE*/

#HebergementMarseille {
  background-color: #f2f2f2;
  margin-left: 5px;
  margin-right: 30px;
  padding: 30px;
  padding-right: 0px;
  border-radius: 10px;
  width: 60%;
  height: 580px;
}

#HousingMarseille {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 20px;
  margin-bottom: 20px;
}

.CardHebergement {
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: white;
}

.description {
  font-size: smaller;
  margin-left: 5px;
}

#HousingMarseille .PhotoHebergement {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#HebergementMarseille .NameHebergement {
  font-weight: bolder;
}

#HebergementMarseille a {
  text-decoration: none;
  color: black;
}

#HebergementMarseille .afficher {
  font-weight: bold;
}

#HebergementPopulaire {
  display: flex;
  flex-wrap: wrap;
}

#HousingMarseille .PhotoHebergement {
  width: 240px;
  height: 110px;
}
.description {
  width: 240px;
  height: 90px;
}

.CardHebergement {
  height: 210px;
  width: 240px;
}

/*************************POPULAIRE********************************/

#popular {
  background-color: #f2f2f2;
  border-radius: 10px;
  height: 580px;
  width: 30%;
  padding: 30px;
}
#popular a {
  text-decoration: none;
  color: black;
}

#titre-populaire {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#titre-populaire i {
  font-size: 1em;
}
#HousingPopulaire {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CardPopular {
  margin-bottom: 50px;
  border-radius: 10px;
  border: 5px solid white;
  background-color: white;
  height: 130px;
  width: 400px;
  display: flex;
  justify-content: flex-start;
}

.PhotoPopular {
  object-fit: cover;
  width: 130px;
  height: 130px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.mapPopular {
  margin-left: 30px;
  font-size: 0.9em;
}

#popular .NameHebergement {
  font-weight: bold;
}

/************************* FIN POPULAR *******************************/

/************************************* DEBUT ACTIVITES********************************************/

#activites {
  font-weight: bold;
}

#activites img {
  object-fit: cover;
}

#activites a {
  text-decoration: none;
  color: black;
}

#titre_activites {
  padding-top: 40px;
  padding-bottom: 20px;
}

/*Photos*/
#photos_activites {
  display: flex;
  justify-content: space-between;
  width: 99.6%;
  padding-bottom: 50px;
}

#blocfortiles,
#blocnotredamelongchamp {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/*encart Vieux Port*/

#encart_vieuxport {
  border: 1px solid white;
  border-radius: 20px;
  width: 286px;
  height: 450px;
  box-shadow: 1px 1px 6px #7a7d7f;
  margin-right: -1px;
}

#photo_vieuxport {
  width: 286px;
  height: 400px;
  border: 3px solid white;
  border-radius: 20px 20px 0 0;
}

#legend_vieuxport {
  width: 286px;
  height: 50px;
  border: 3px solid white;
  border-radius: 0 0 20px 20px;
  padding: 10px 0 0 10px;
  margin-top: -6px;
}

/*encart Fort de Pomègues*/

#encart_fortpomegues {
  border: 1px solid white;
  border-radius: 20px;
  width: 286px;
  height: 260px;
  box-shadow: 1px 1px 6px #7a7d7f;
  margin-bottom: 22px;
  margin-right: -1px;
}

#photo_fortpomegues {
  width: 286px;
  height: 210px;
  border: 3px solid white;
  border-radius: 20px 20px 0 0;
}

#legend_fortpomegues {
  width: 286px;
  height: 50px;
  border: 3px solid white;
  border-radius: 0 0 20px 20px;
  padding: 10px 0 0 10px;
  margin-top: -6px;
}

/*encart Iles du Frioul*/

#encart_ilesfrioul {
  border: 1px solid white;
  border-radius: 20px;
  width: 286px;
  height: 150px;
  box-shadow: 1px 1px 6px #7a7d7f;
}

#photo_ilesfrioul {
  width: 286px;
  height: 100px;
  border: 3px solid white;
  border-radius: 20px 20px 0 0;
}

#legend_ilesfrioul {
  width: 286px;
  height: 50px;
  border: 3px solid white;
  border-radius: 0 0 20px 20px;
  padding: 10px 0 0 10px;
  margin-top: -6px;
}

/*encart parc national des calanques*/

#encart_parccalanques {
  border: 1px solid white;
  border-radius: 20px;
  width: 286px;
  height: 450px;
  box-shadow: 1px 1px 6px #7a7d7f;
  margin-left: -0.5px;
  margin-right: -2px;
}

#photo_parccalanques {
  width: 286px;
  height: 400px;
  border: 3px solid white;
  border-radius: 20px 20px 0 0;
}

#legend_parccalanques {
  width: 286px;
  height: 50px;
  border: 3px solid white;
  border-radius: 0 0 20px 20px;
  padding: 10px 0 0 10px;
  margin-top: -6px;
}

/*encart notre dame de la garde*/

#encart_notredamedelagarde {
  border: 1px solid white;
  border-radius: 20px;
  width: 286px;
  height: 180px;
  box-shadow: 1px 1px 6px #7a7d7f;
  margin-bottom: 22px;
}

#photo_notredamedelagarde {
  width: 286px;
  height: 130px;
  border: 3px solid white;
  border-radius: 20px 20px 0 0;
}

#legend_notredamedelagarde {
  width: 286px;
  height: 50px;
  border: 3px solid white;
  border-radius: 0 0 20px 20px;
  padding: 10px 0 0 10px;
  margin-top: -6px;
}

/*encart Parc Longchamp*/

#encart_parclongchamp {
  border: 1px solid white;
  border-radius: 20px;
  width: 286px;
  height: 230px;
  box-shadow: 1px 1px 6px #7a7d7f;
}

#photo_parclongchamp {
  width: 286px;
  height: 180px;
  border: 3px solid white;
  border-radius: 20px 20px 0 0;
}

#legend_parclongchamp {
  width: 286px;
  height: 50px;
  border: 3px solid white;
  border-radius: 0 0 20px 20px;
  padding: 10px 0 0 10px;
  margin-top: -6px;
}

/**************************** FIN ACTIVITES**********************/

/* DEBUT FOOTER */
footer {
  border: 1px solid #f2f2f2;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  background-color: #f2f2f2;
}

footer a {
  text-decoration: none;
  color: black;
  line-height: 1.5;
  padding-left: 20px;
}

footer li {
  list-style: none;
}
h4 {
  font-weight: bold;
  padding-left: 60px;
  padding-bottom: 10px;
}

.apropos {
  padding-right: 200px;
}

.noshebergements {
  padding-right: 250px;
}
/* FIN FOOTER  */

/**************************************TABLETTE****************************************************/

@media all and (min-width: 768px) and (max-width: 1023px) {
  body {
    width: 100%;
  }

  #filtre {
    flex-wrap: wrap;
    padding-right: 80px;
  }

  #filtre-icones {
    flex-wrap: wrap;
    padding-right: 40px;
  }
  #HebergementMarseille {
    width: 100%;
    background-color: white;
  }

  #HebergementPopulaire {
    flex-direction: column-reverse;
  }

  .CardHebergement {
    box-shadow: 0 0 1em grey;
  }

  #popular {
    background-color: #f2f2f2;
    border-radius: 10px;
    height: 580px;
    width: 100%;
    padding: 30px;
  }
  #popular a {
    text-decoration: none;
    color: black;
  }

  #titre-populaire {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #titre-populaire i {
    font-size: 1em;
  }
  #HousingPopulaire {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .CardPopular {
    margin-bottom: 50px;
    border-radius: 10px;
    border: 5px solid white;
    background-color: white;
    padding-right: 400px;
  }

  .PhotoPopular {
    object-fit: cover;
    width: 140px;
    height: 130px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .mapPopular {
    margin-left: 30px;
    font-size: 0.9em;
  }

  #popular .NameHebergement {
    font-weight: bold;
  }

  .apropos {
    padding: 0;
  }

  .noshebergements {
    padding: 0;
  }
}

/***************************************** MOBILE **********************************************/

@media all and (min-width: 375px) and (max-width: 812px) {
  #menu-header {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 100%;
  }

  body {
    margin: 0px;
    padding: 0px;
  }

  #bloc-page {
    margin: 0px;
    padding: 0px;
  }

  header {
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }

  .reservia-logo {
    margin-top: 20px;
  }

  .reservia-logo img {
    margin-left: 20px;
  }

  nav {
    width: 100%;
  }

  nav ul {
    width: 100%;
    padding: 0px;
  }

  nav li {
    width: 50%;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 10px;
    margin: 0px;
    text-align: center;
  }

  nav span {
    position: absolute;
    top: 40px;
    right: 20px;
  }

  nav a:hover {
    padding-top: 37px;
  }

  nav li a:hover {
    border-top: none;
  }

  nav li:hover {
    border-color: #0065fc;
    color: #0065fc;
  }

  .inscrire {
    order: 2;
  }

  .navHebergementActivity {
    display: flex;
    justify-content: flex-start;
  }

  #phrase h2 {
    font-size: 1.2em;
  }

  #phrase p {
    font-size: 1em;
  }

  #zoneRecherche {
    padding-left: 10px;
    padding-top: 20px;
  }

  #zoneRecherche input:nth-child(3) {
    display: none;
  }

  button i {
    border-radius: 9px;
    background-color: #0065fc;
    color: #0065fc;
    font-size: 1em;
    visibility: visible;
  }

  #filtre {
    flex-wrap: wrap;
    padding-right: 80px;
  }

  #filtre-icones {
    flex-wrap: wrap;
    padding-right: 40px;
  }

  #titre-filtre {
    margin-bottom: 10px;
  }

  #HebergementPopulaire {
    flex-direction: column-reverse;
  }

  #HebergementMarseille {
    height: auto;
    background-color: white;
    width: 100%;
    padding: 0;
    padding-top: 10px;
    margin-top: 10px;
  }

  .CardHebergement {
    height: 200px;
    width: 300px;
    box-shadow: 0 0 1em grey;
  }

  #HousingMarseille .PhotoHebergement {
    width: 100%;
    height: 100px;
  }

  #popular {
    padding: 0;
    height: auto;
    width: 100%;
    padding-top: 10px;
  }

  .CardPopular {
    margin: auto;
    width: 300px;
    margin-bottom: 10px;
  }

  footer {
    flex-direction: column;
    margin: 0px;
  }

  .apropos {
    padding: 0;
  }

  .noshebergements {
    padding: 0;
  }

  #activites {
    padding-left: 20px;
    padding-right: 20px;
  }

  #photos_activites {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  /*Tailles des encarts*/

  #encart_vieuxport,
  #encart_ilesfrioul,
  #encart_parclongchamp {
    margin: auto;
    margin-bottom: 25px;
    width: 100%;
    height: 200px;
  }
  #encart_parccalanques {
    margin: auto;
    margin-bottom: 25px;
    width: 100%;
    height: 200px;
  }

  #encart_fortpomegues,
  #encart_notredamedelagarde {
    margin: auto;
    margin-bottom: 25px;
    width: 100%;
    height: 200px;
    padding-right: 10px;
  }

  /*Taille des photos*/

  #photo_vieuxport,
  #photo_fortpomegues,
  #photo_ilesfrioul,
  #photo_parccalanques,
  #photo_notredamedelagarde,
  #photo_parclongchamp {
    width: 100%;
    height: 70%;
  }

  /*Taille des légendes*/

  #legend_vieuxport,
  #legend_fortpomegues,
  #legend_ilesfrioul,
  #legend_parccalanques,
  #legend_notredamedelagarde,
  #legend_parclongchamp {
    width: 100%;
    height: 30%;
    padding-left: 8px;
    padding-top: 15px;
  }
}
