					/****** 20-03-2021 ** KM ** ** A REVOIR FILTRE*** PARTIE ACTIVITES ******/

#MonSite
{
	margin-left: 10px;
}

/*  Police des textes*/


@font-face
{
   font-family: 'Raleway';
    src: 
         url('Raleway-Thin.ttf') format('truetype'),
        
    font-style: normal;
    font-weight: normal;
}

@font-face
{
   font-family: 'RalewayBold';
    src: 
         url('Raleway-Bold.ttf') format('truetype'),
        
    font-style: normal;
    font-weight: normal;
}


body
{
		font-family: Raleway;
		margin: 0;
}

			/*HeaderNav*/
header
{
display: flex;
justify-content: space-between;
}
.reservia-logo
{
	width: 15%;
}
.logo
{
	width: 100%
}
nav
{
	height: 100%;
	width: 60%;
	display: flex;
}
.menu-header
{
	display: flex;
	justify-content: flex-end;
	justify-content: space-between;
	width: 40%;
	align-items: center;
}

.navHebergementActivity
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin:0;
	width: 100%;
}

.navHebergementActivity a
{	
	text-decoration: none;
	color: black;	 	
}

.navHebergementActivity li
{
	list-style-type: none;
}
 li:hover
{	
	border-top: solid;
	border-top-color: #0065FC;
	display: flex;
	align-items: center;
	height: 100%;
}

li a:hover
{
	color: #0065FC;
}
.hebergement
{
	color: #0065FC;	
}
.activites
{
	color: black;
}
#suscribe a
{
	font-weight: bold;
	text-decoration: none; 
	color: #0065FC;
}
#suscribe
{
	align-items: center;
	margin: 0;
}



			/* FIN HeaderNav*/

			/*phrase*/

#phrase
{
	height: 80px;
}
#phrase h2
{
	font-size: 1em;
}

#phrase p
{
	font-size: 0.9em;
}
					/*FIN phrase*/	



					/*RECHERCHE*/
#zoneRecherche
{
  display:flex;
  justify-content:flex-start;
  height: 40px;
  width: 100px;
}
#zoneRecherche i
{
	border: 1px #F2F2F2 solid;
    border-top-left-radius: 9px;
   border-bottom-left-radius: 9px;
   background-color:#F2F2F2;
   padding-right: 30px;
   text-align: center;
   padding: 10px;
}
#zoneRecherche input:nth-child(2)
{
  border: 1px #F2F2F2 solid;
  font-weight: bold;
}
#zoneRecherche input:nth-child(3)
{
  border: 1px #F2F2F2 solid;
  color:white;
  background-color: #0065FC;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  font-weight: bold;
}

		/*FIN RECHERCHE*/

			/*FILTRE*/

#filtre
{ 
	display:flex;
	text-align: center;
 	font-weight:bold;
 	align-items: center;
 	height: 80px;
 	width: 100%
}

#filtre p
{
	margin-right: 30px;
}
#filtre .fas
{
	background-color: #DEEBFF;
	padding:10px;
    border-radius: 50%;
  	border:1px solid #F2F2F2 ; 
 	color: #0065FC;
}
.filtre-icones
{
	display: flex;
	justify-content: space-between;
	width: 50%;
}
#filtre .icone
{
	border-radius: 50px;
	border:2px solid #F2F2F2 ;
    font-weight:bold;
    display: flex;
    align-items: center;
    
}

	/*FIN FILTRE*/



		/*info*/

#info
{
	height: 80px;
	font-size: 0.8em;

}		
.fa-info
{

padding:10px;
    border-radius: 50%;
  	border:3px solid #F2F2F2 ; 
  color: #0065FC;
}
	/*FIN INFO*/
.Titre
{
	font-size: 1em;
}

#HebergementPopulaire
{
	display: flex;
	flex-wrap: wrap;

}

		

.starBlue
{
	color: #0065FC;	
}

.starGrey
{
	color: grey;
}

				/*HEBERGEMENT MARSEILLE*/

#HebergementMarseille
{
	background-color: #F2F2F2 ;	
	margin-left: 5px;
	margin-right: 30px;	
	padding: 30px;
	padding-right: 0px;
	border-radius: 10px;
	width: 60%;
	height: 580px;
	float: left;
}

#HousingMarseille 
{
	

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right:  20px;
	margin-bottom: 20px;
}

.CardHebergement
{
	margin-bottom: 30px;
	border-radius: 10px;
	border: 1px solid white;
	background-color: white;
	height: 210px;
	width: 240px;
}

.description
{
	width:240px ;
	height:90px ;
	font-size: smaller;
	margin-left:  5px;
}
 
#HousingMarseille .PhotoHebergement
{
    object-fit: cover;
    width: 240px;
    height: 110px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
 

}

#HebergementMarseille .NameHebergement
{
	font-weight: bolder;

} 	

#HebergementMarseille a
{
	text-decoration: none; 
	color: black;	
}

#HebergementMarseille .afficher
{
	font-weight: bold;
}


		/*************************POPULAIRE********************************/

#popular
{
	background-color: #F2F2F2 ;	
	border-radius: 10px;
	float: right;
	height: 580px;
	width: 30%;
	padding: 30px;

}
#popular a
{
	text-decoration: none; 
	color: black;
}
/*								-------------A REVOIR----------	
#popular h2
{
display: flex;
justify-content: space-between;
}								-------------A REVOIR----------	
*/
#HousingPopulaire
{

	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.CardPopular
{
	margin-bottom: 50px;
	border-radius: 10px;
	border: 1px solid white;
	background-color: white;
	height: 130px;
	width: 400px;
	display: flex;
	justify-content: flex-start;


}
.PhotoPopular
{
    object-fit: cover;
    width: 130px;
    height: 130px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

#TitrePopulaire .fas
{
	float: right;
}

.mapPopular
{

	margin-left: 30px;
	font-size: 0.9em;
}

#popular .NameHebergement
{
	font-weight: bold;
}


		/************************* FIN POPULAR ******** A REVOIR 2ème Card ***16-03-2021********************/



		/************************************* DEBUT ACTIVITES********************************************/


#activity
{	
	width: 100%;
	height: 40%;
	margin-top: 50px;
}

#activity .PhotoActivity
{
	object-fit: cover;

}

.PhotoLarge
{

   width: 290px;
   height: 350px;
}

.PhotoSmall
{
    width: 220px;
    height: 110px;

}
.Large
{
	width: 290px;
	height: 400px;
}
.Small
{
	width: 220px;
	height: 150px;
}
#CardActivity
{
	display: flex;
	justify-content: space-around;
}
.mapActivity
{
	display: flex;
	flex-direction: column;
	background-color: white;
	border: 1px solid white;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}


.activitePhoto
{
	display: flex;

}

		/**************************** FIN ACTIVITES***A REVOIR LES EMPLACEMENTS DES MAP**********18-03-2021*******************/




										/****** 19-03-2021 ** KM ** ** A REVOIR HEADER*** PARTIE ACTIVITES ******/